[user]
	name = Christopher Jones
	email = chris.jones.492@gmail.com
	signingkey = E57BAF4AFDF6CAB0CCE0B7A1CF8CDAF4666FC4D4
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = cache
[core]
	editor = emacsclient -nw
[commit]
	gpgsign = true
